.picturegallerydiv {
    /* flexbox content */
    display: flex;
    flex-wrap: row wrap;
    width: 100%;
    /* spacing */
    margin: 2px;
    padding: 2px;
}

.buttonspacediv {
    /* flexbox content */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 25%;
    background-color: darkred;
}

.buttonclicker {
    width: 10vw;
    height: 10vh;
    font-size: .5em;
    text-align: center;
}

.bigprojectpicture_div {
    /* flexbox content */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 50%;
    border: 2px solid red;
    /* This is a background image test
        background-image: url('../img/test_image.jpg');
    background-size: cover;
    */
    
}

#bigprojectpicture_mobile1 {
    /* This is for formatting the pic */
    width: 45vw;
    height: 45vh;
    /* This keeps it aligned in the center for viewing */
    align-content: center;
    padding: 1px;
    margin: 1px;
}

#bigprojectpicture_mobile2 {
    /* This is for formatting the pic */
    width: 45vw;
    height: 45vh;
    /* This keeps it aligned in the center for viewing */
    align-content: center;
    padding: 1px;
    margin: 1px;
}

#bigprojectpicture_mobile3 {
    /* This is for formatting the pic */
    width: 45vw;
    height: 45vh;
    /* This keeps it aligned in the center for viewing */
    align-content: center;
    padding: 1px;
    margin: 1px;
}


.showstuff {
    border: 2px solid black;
}

#stuffshower {
    opacity: 100%;
}

/* This is for testing a fading image */
#stage {
    /* Flex boxing */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border: 4px solid black;
    background-color: salmon;
    order: 0;
    height: auto;
    width: 100%;
}

#picHolder {
    /* Flex boxing */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    /* Uhhh */
    /* Styling */
    border: 4px solid green;
    background-color: yellow;
}

#stage2 {
    /* position */
    position: absolute;
    z-index: auto;
    /* sizing */
    width: 30vw;
    height: 30vh;
}

#stage2_1 {
    z-index: 1;
    position: absolute;
}

#stage2_2 {
    z-index: 2;
    position: absolute;
}

.topImage {
    margin: 0 auto;
    opacity: 1;
    width: 30vw;
    height: 30vh;
    /* This is for the animation */
    /*
    animation-name: fadeAnim;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    */
}

/* Here's our animation */
/*
@keyframes fadeAnim {
    0% {opacity: 1;}
    50% {opacity: 1;}
    100% {opacity: 1;}
}
*/