.picturegallerydiv {
    /* flexbox content */
    display: flex;
    flex-wrap: row wrap;
    width: 100%;
    /* spacing */
    margin: 2px;
    padding: 2px;
}

.buttonspacediv {
    /* flexbox content */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 25%;
    background-color: darkred;
}

.buttonclicker {
    width: 10vw;
    height: 10vh;
    font-size: .5em;
    text-align: center;
}

.bigprojectpicture_div {
    /* flexbox content */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 50%;
    border: 2px solid red;
    /* This is a background image test
        background-image: url('../img/test_image.jpg');
    background-size: cover;
    */
    
}

#bigprojectpicture_mobile1 {
    /* This is for formatting the pic */
    width: 45vw;
    height: 45vh;
    /* This keeps it aligned in the center for viewing */
    align-content: center;
    padding: 1px;
    margin: 1px;
}

#bigprojectpicture_mobile2 {
    /* This is for formatting the pic */
    width: 45vw;
    height: 45vh;
    /* This keeps it aligned in the center for viewing */
    align-content: center;
    padding: 1px;
    margin: 1px;
}

#bigprojectpicture_mobile3 {
    /* This is for formatting the pic */
    width: 45vw;
    height: 45vh;
    /* This keeps it aligned in the center for viewing */
    align-content: center;
    padding: 1px;
    margin: 1px;
}


.showstuff {
    border: 2px solid black;
}

#stuffshower {
    opacity: 100%;
}