<!DOCTYPE html>
<html lang="en">
    <head>
        {{/* Here is our meta charset and title */}}
        {{template "meta-title"}}
        {{/* Here is our pixel density markup */}}
        {{template "pixel-dense"}}
        {{/* Here is our FavIcon */}}
        {{template "fav-icon1"}}
        {{/* Here are our fonts */}}
        {{template "fonts1"}}
        {{/* Here are our Media Query and stylesheets */}}
        {{template "media-queries"}}
        {{/* Here is our Javascript or additional code needed */}}
        {{template "javascript"}}
    </head>
    <body>
        <!--Here's our 'Above the fold' content.-->
        <div class="above_fold">
            {{/* Header */}}
            {{template "header_div"}}
            <!--Here's the 'introductionary content'-->
            <div class="maindiv">
                <!--Here's my face-->
                <div class="myfacediv">
                    <img class="myface" src="static/img/Joe+Keller+Front.jpg" alt="Joseph Keller Picture">
                </div>
                <!--Here's a quote with a greeting to the User.-->
                <div class="emptyfacediv">
                    <h2 class="itsme">Hello, my name is Joseph Keller!</h2>
                </div>
                <!--This is an introduction to me...-->
                <div class="quicksphelediv">
                    <p class="quicksphelep">
                        I'm a Developer of web apps, mobile apps, and video games. I've always
                        found myself happy to move into the next big opportunity offered!
                        Currently, I'm working at Centene on a Software Production Support
                        team. Also, my friends and I collaborate on creating video games
                        and apps for web/mobile platforms. Around my colleagues I'm known for my
                        leadership skills, dedication to a project, cooperation, and
                        creativity applied when tackling a tough problem.
                    </p>
                </div>
                <!-- This is a section for folks to download my resume. -->
                <div class="downloadresdiv">
                    <div class="instructionressection">
                        <p class="resumeInfo">
                            Download my Resume...
                        </p>
                    </div>
                    <div class="resdownloadsection">
                        <a href="static/resumes/Joseph_Keller_Resume_2020.pdf" target="_blank" download>
                            <img src="static/img/svg/big_pdf.svg" class="infoimg_larger" alt="PDF download">
                        </a>
                    </div>
                    <div class="resdownloadsection">
                        <a href="static/resumes/Joseph_Keller_Resume_2020.docx" download>
                            <img src="static/img/svg/microsoftword.svg" class="infoimg_larger" alt="Microsoft Word Download">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--Here's the 'look what I can do' section.-->
        <div class="what_doing_container">
            <div class="emptyfacediv">
                <h3 class="comelook_h3">Check out what I'm interested in...the list is always growing!</h3>
            </div>
            <ul class="myul">
                <li>
                    <p class="quicksphelep">
                        Currently, I am a Software Developer at Centene, supporting a framework of various technologies.
                         Our company is currently in the midst of an application upgrade to the Cloud. This mean I am utilizing
                          a combination of development items, such as: TIBCO Queues, Kibana Monitoring, SQL for MS and Oracle, SSIS packages,
                           Grafana, Docker, and Mongo NoSQL. It’s a large technology stack, adding onto my previous experience with Python, C++,
                            and Java, I’m now being asked to learn Golang! It’s a lot of work but a lot of fun.
                    </p>
                </li>
                <li>
                    <p class="quicksphelep">
                        I have experience working with a diverse group of people to make a variety of digital
                        and analog games. I can navigate the Unreal Engine for game design, as well as Maya/Blender
                        for 3-D modeling/texturing. I also know C++, Java, and Python, but am willing to learn any software/language
                        used to get the job done.
                    </p>
                </li>
                <li>
                    <p class="quicksphelep">
                        This website was made with a combination of HTLM5, CSS, Javascript and Google Drives for cloud based web hosting. 
                        I'm currently testing GoLang web dev functions for this site as well, with Amazon AWS
                        services as a backend for database logic...stay tuned!
                    </p>
                </li>
                <li>
                    <p class="quicksphelep">
                        I pride myself on hard work and creative solutions to our adapting world. If you need someone who can lead
                        a team, produce solutions to difficult production problems, or learn a new software to assist teams,
                        I'm always happy to help!
                    </p>
                </li>
            </ul>
        </div>

        <!--This is the footer content-->
        {{template "footer_div"}}
        
    </body>                    
</html>