<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>testHTML</title>
        <!--Phone pixel density markup-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Our FavIcon-->
        <link rel="shortcut icon" type="image/png" href="static/img/favicons/keyboardFav.png">
        <!--Media Query and stylesheets-->
        <link rel="stylesheet" href="static/css/test.css">
        <!--Javascript-->
        <script type="text/javascript" src="static/js/test.js"></script>
        <!--JQuery additions-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    </head>
    <body>
       
       <p class="spagoogler">Test p element</p>

        
        
    </body>                    
</html>